@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

section{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    
}
section .imgBx{
    position: relative;
    width: 50%;
    height: 100%;

}
/*section .imgBx::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    
}*/
section .imgBx img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
section .contentBx{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
section .contentBx .formBx{
    width: 50%;
    margin-top: 20%;
    margin-bottom: 20%;
}

section .contentBx .formBx .inputBx{
    margin-bottom: 0.5%;
}
section .contentBx .formBx .inputBx span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: black;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 1px;
}
section .contentBx .formBx .inputBx input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border:0 solid #607d8b;
    font-size: 2rem;
    letter-spacing: 1px;
    color: #607d8b;
    background:lightgray;
    
}
section .contentBx .formBx .inputBx input[type="checkbox"]
{
background: lightgray;

}
section .contentBx .formBx .inputBx input[type="button"]
{
    background: royalblue;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
section .contentBx .formBx .remember label{
    font-size: 1.5rem;
}
section .contentBx .formBx .inputBx .remember{
    margin-bottom: 10px;
    color: #607d8b;
    font-weight: 400;
    font-size: 2rem;
}
/* Mobile view */
@media screen and (max-width: 500px){
section {
    flex-direction: column-reverse;
    max-width: 100%;
    max-height: 100%;
    
    
    align-content: center;
    position: absolute;
    
}
section .contentBx{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}
section .imgBx{
    width: 100%;
    height: 50%;
    object-fit: fill;
    position: relative;
}
section .contentBx .formBx{
    width: 50%;
    margin-top: 20%;
    margin-bottom: 20%;
}
section .contentBx .formBx .inputBx span{
    font-size: 12px;
    margin-bottom: 5px;
    display: inline-block;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
}
section .contentBx .formBx .remember label{
    font-size: 12px;
}
section .contentBx .formBx .inputBx input[type="button"]{
    font-size: 12px;
}
section .contentBx .formBx .inputBx input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border:0 solid black;
    font-size: 12px;
    letter-spacing: 1px;
    color: #607d8b;
    background:lightgray;
    
}
}